<div class="container" id="blog-all">
    <div class="container" id="blogs">

        {{#if (eq pet_category "Cats")}}
        {{#if (eq post_type "Advice")}}
        <h2 class="title is-2">Cat Advice</h2>
        {{else if (eq post_type "Funny")}}
        <h2 class="title is-2">Funny Cats</h2>
        {{else if (eq post_type "all")}}
        <h2 class="title is-2">All Cat Posts</h2>
        {{/if}}
        {{else}}
        {{#if (eq post_type "Advice")}}
        <h2 class="title is-2">Dog Advice</h2>
        {{else if (eq post_type "Funny")}}
        <h2 class="title is-2">Funny Dogs</h2>
        {{else if (eq post_type "all")}}
        <h2 class="title is-2">All Dog Posts</h2>
        {{/if}}
        {{/if}}

        {{#each blogPosts as |post| }}
        <div class="container">
            <a href="/blogs/{{id}}">
                <div class="card">
                    <div class="blog-post">
                        <img src="{{image_url}}" alt="blog image" />
                        <div class="card-content">
                            <h4 class="is-size-7">{{format_date updatedAt}}</h4>
                            <h2 class="is-size-3 has-text-weight-bold">{{title}}</h2>

                            <h3 class="is-size-5 has-text-weight-light has-text-success is-underlined">{{User.username}}
                            </h3>
                            <h4 class="is-size-6">
                                <span class="has-text-weight-bold"> Category: </span>
                                {{pet_category}}
                            </h4>
                            <h4 class="is-size-6">
                                <span class="has-text-weight-bold"> Type:</span>
                                {{post_type}}
                            </h4>
                            <h4 class="is-size-6">
                                <span class="has-text-weight-bold"> Number of Comments: </span>
                                {{commentsLength}}
                            </h4>
                        </div>
                    </div>
                    <button href="/blogs/{{id}}" class="button is-small is-info view-blog p-auto"
                        data-blog-id="{{id}}">View</button>
                    <button class="button is-small is-danger delete-blog is-hidden" data-blog-id="{{id}}"
                        data-blog-owner="{{User.id}}">Delete</button>


                </div>
            </a>
        </div>
        <hr>
        {{/each}}
    </div>

    <div class="container" id="blog-create">
        <h2 class="title is-2" id="user-id" data-user-id="{{own_user_id}}">Make a post!</h2>
        <form class="post-form">
            <div class="field">
                <label class="label" for="new-title">Title:</label>
                <div class="control">
                    <input class="input" type="text" id="new-title" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="new-body">Body:</label>
                <div class="control">
                    <input class="textarea" type="dropdown" id="new-body" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="new-category">Pet Category:</label>
                <div class="select" id="new-category">
                    <select>
                        {{#isEqual pet_category "===" "Dogs"}}
                        <option selected>Dogs</option>
                        <option>Cats</option>
                        {{else}}
                        <option>Dogs</option>
                        <option selected>Cats</option>
                        {{/isEqual}}
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label" for="new-type">Post Type:</label>
                <div class="select" id="new-type">
                    <select>
                        {{#isEqual post_type "===" "Funny"}}
                        <option selected>Funny</option>
                        <option>Advice</option>
                        {{else}}
                        <option>Funny</option>
                        <option selected>Advice</option>
                        {{/isEqual}}
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload a picture
                            </span>
                        </span>
                        <span class="file-name" id="new-image-url">
                            No file uploaded
                        </span>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control has-text-centered">
                    <button class="button is-primary" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="./js/blogPost-all.js"></script>