<div class="">
    <div class="">
        <h2>{{blogPosts.title}}</h2>
    </div>
    <div class="">
        <h4>Category: {{blogPosts.pet_category}}</h4>
        <h4>Type: {{blogPosts.post_type}}</h4>
        {{!-- not sure how to get user name from userID yet --}}
        <h3>User: username {{blogPosts.user_id}}</h3>
        <p>{{blogPosts.body}} </p>
    </div>
    <div class="">
        <h3>Comments</h3>
        {{!-- not sure if correct yet --}}
        {{#each blogPosts.comments as |comment|}}
        {{!-- maybe make this a helper function? --}}
        <h3>User: {{user_id}} username</h3>
        <h3>{{comment}}</h3>
        <h4>{{format_time date_created}}</h4>
        {{else}}
        <h4>No Comments Yet</h4>
        {{!-- date created --}}
        {{/each}}
    </div>
</div>


<script src="./js/blogPost-one.js"></script>