<section class="hero has-background-warning-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to our Pet lifestyle App!
      </h1>
      <h2 class="subtitle">
        Track your pet's well-being and lifestyle, and connect with other pet owners.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">
              Blog Post
            </p>
            <p class="is-size-7">{{format_date randomPost.updatedAt}}</p>
            <p class="is-size-4"><b>{{randomPost.title}}</b></p>
            <p>{{randomPost.body}}</p>
            <img src="{{randomPost.image_url}}" alt="blog post image" />

          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">
              Pet of the Day
            </p>

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="{{randomPet.pet_image_url}}" alt="Card image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-5">{{randomPet.pet_name}}</p>
                    <p class="subtitle is-6">{{randomPet.pet_description}}</p>
                  </div>
                </div>
                {{!-- <div class="content">
                  <small class="has-text-grey">{{randomPet.updatedAt}}</small>
                </div> --}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="has-text-centered">
      <p>
        Join us now and start tracking your pet's journey!
      </p>
      <a href="http://localhost:8080/login" class="button is-primary">Sign Up</a>
    </div>
  </div>
</section>