{{!-- check boxes for certain fields in req body, everything else string/integer based on model --}}
{{!-- pet id container to store pet id to retrieve --}}
<div id="petIdContainer" data-pet-id={{pets.id}}></div>
{{!-- pet name --}}
<div class="control">
  <input class="input" type="text" value={{pets.pet_name}} name="petName">
</div>
<div>
  <select name="petType">
    {{#isEqual pets.pet_type "===" "dog"}}
      <option value="dog" selected>Dog</option>
      <option value="cat">Cat</option>
    {{else}}
      <option value="dog">Dog</option>
      <option value="cat" selected>Cat</option>
    {{/isEqual}}
  </select>
</div>
{{!-- pet breed --}}
<div class="control">
  <input class="input" type="text" value={{pets.pet_breed}} name="petBreed">
</div>
{{!-- pet age --}}
<div class="control">
  <input class="input" type="text" value={{pets.pet_age}} name="petAge">
</div>
{{!-- pet description, larger text area --}}
<div class="control">
  <textarea class="textarea" name="petDescription">{{pets.pet_description}}</textarea>
</div>
{{!-- pet size dropdown with options, small, medium, large --}}
<div>
  <select name="petSize">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
</div>
{{!-- pet allergies --}}
<div class="control">
  <input class="input" type="text" value="{{pets.pet_allergies}}" name="petAllergies">
</div>
{{!-- pet medications --}}
<div class="control">
  <input class="input" type="text" value="{{pets.pet_medication}}" name="petMedication">
</div>
{{!-- pet exercise --}}
<div class="control">
  <input class="input" type="text" name="petExercise" value="{{pets.pet_excercise}}">
</div>
{{!-- pet food --}}
<div class="control">
  <input class="input" type="text" value="{{pets.pet_food}}" name="petFood">
</div>
{{!-- pet grooming --}}
<div class="control">
  <input class="input" type="text" value="{{pets.pet_grooming}}" name="petGrooming">
</div>
{{!--  pet image upload --}}
<div class="file">
  <label class="file-label">
    <input class="file-input" type="file" name="petImage">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload a picture of your pet!
      </span>
    </span>
  </label>
</div>
{{!-- submit button that handles all text area --}}
<div class="control">
  <button class="button is-primary" id="submitButton">Submit</button>
</div>
{{!-- script for sign up --}}
<script src="/js/petEdit.js"></script>
