<div id="petCard-page" class="container is-flex is-flex-direction-column is-justify-content-between" style="min-height: 100vh;">
  <div class="columns">
    <div class="column is-three-quarters" style="padding-top: 20px;">
      <!-- pet id container to store pet id to retrieve -->
      <div id="petIdContainer" data-pet-id="{{pets.id}}"></div>
      <div class="container has-text-centered">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  {{#if pets.pet_image_url}}
                    <img src="{{pets.pet_image_url}}" alt="Pet Image">
                  {{else}}
                    {{#with (placeholderImage pets.pet_type)}}
                      <img src="/img/{{this}}" alt="Placeholder Image">
                    {{/with}}
                  {{/if}}
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4" id="petCardName">{{pets.pet_name}}</p>
                <p class="subtitle is-6" id="petCardName">{{pets.pet_breed}}</p>
              </div>
            </div>
            <div class="content">
              <div class="columns">
                <div class="column is-one-third">
                  <p><strong>Description:</strong></p>
                  <p>{{pets.pet_description}}</p>
                </div>
                <div class="column is-one-third">
                  <p><strong>Age:</strong></p>
                  <p>{{pets.pet_age}}</p>
                  <p><strong>Size:</strong></p>
                  <p>{{pets.pet_size}}</p>
                </div>
                <div class="column is-one-third">
                  <p><strong>Allergies:</strong></p>
                  <p>{{pets.pet_allergies}}</p>
                  <p><strong>Medications:</strong></p>
                  <p>{{pets.pet_medication}}</p>
                </div>
              </div>
              <div class="columns">
                <div class="column is-one-third">
                  <p><strong>Exercise:</strong></p>
                  <p>{{pets.pet_excercise}}</p>
                </div>
                <div class="column is-one-third">
                  <p><strong>Food:</strong></p>
                  <p>{{pets.pet_food}}</p>
                </div>
                <div class="column is-one-third">
                  <p><strong>Grooming:</strong></p>
                  <p>{{pets.pet_grooming}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="http://localhost:8080/pets" class="button is-info is-large" style="margin-top: 10px;">Back</a>
        <a href="http://localhost:8080/pets/edit/{{pets.id}}" class="button is-primary is-large" style="margin-top: 10px;">Edit</a>
      </div>
    </div>
    <div class="column" style="padding-top: 20px;">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left"></div>
            <div class="media-content">
              <p class="title is-4 is-centered">Links and Location</p>
            </div>
          </div>
          <div class="content">
            <div class="buttons" id="petLinks">
              {{{generateLinks pets.pet_type}}}
            </div>
            <div class="media-content">
              <p class="title is-6" id="Veterinarians"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Placeholder Card -->
  <div class="columns">
    <div class="column is-full" style="padding-top: 50px; padding-bottom: 30px;">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-4">COMING SOON</p>
        </div>
        <figure class="image is-3by1">
        <img src="/img/placeholder_graph.png" alt="Placeholder graph Image">
        </figure>
      </div>
    </div>
  </div>